@import url('https://fonts.googleapis.com/css?family=Bangers|Manrope&display=swap');


body {
    max-width: 500px;
    margin: 0 auto;
}

header {
    max-width: 500px;
    background-color: #EEA39E;
    border-radius: 15px;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #FFF1EA;
    padding: 0.25em;
}

.me {
    float: right;
}

main {
    font-family: 'Manrope', sans-serif;
    

}

footer {
    max-width: 500px;
    background-color: #EEA39E;
    border-radius: 15px;
    margin: auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: #FFF1EA;
    padding: 0.25em;
}

footer a {
    color: #FFF1EA;
}

