body {
    background-color: white;
}

.container {
    max-width: 64rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space-lg);
    margin: var(--space-lg) 0;
}

.grid div {
    background-color: var(--color-white);
}

header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--space-xs);
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

.shadow-2 {
    box-shadow: var(--shadow-2);
}

h2 {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--component-padding);
    margin: 0;
}

main,
.component-padding {
    padding: var(--component-padding);
}

img {
    width: 100%;
    height: auto;
    box-shadow: var(--shadow-1);
    margin: var(--space-lg) 0;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--space-xs);
    text-align: center;
}

/* links */

main a:link,
main a:visited {
    color: inherit;
}

main a:hover:hover {
    color: var(--color-accent-dark);
}

footer a:link,
footer a:visited {
    display: inline;
    color: var(--white);

}

footer a:hover {
    color: var(--color-accent);
}

/* responsive */

@media (min-width: 32rem) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid div {
        margin: var(--space-xs) 0;
        background-color: var(--color-white);
    }

    h1 {
        font-size: 2.5em;
    }

    main {
        padding: 0;
    }
}

@media (min-width: 48rem) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid div {
        margin: var(--space-md) 0;
        background-color: var(--color-white);
    }
}