html {
    margin: 0 auto;
    max-width: 960px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    grid-gap: 0.8em;
    padding: 0.8em;
}

section{
    text-align: left;
    display: block;
    background-color:#f0ead8;
    border-radius: 2.5px;
}
section img{
    max-width: 90%;
    padding-left: 1.30em;
}
section p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
    padding-left: 1.30em;
    padding-right: 1.30em;

}

h1 {
    font-size: 2.5em;
    margin: 50px;
    text-align: center;
}

h2 {
    border-bottom: solid darkblue 2px;
    font-size: 1.5em;
}

p {
    margin: 0.5em;
}

img {
    float: right;
    border-radius: 0.1em;
    box-shadow: 1px 1px 5px 5px rgb(116, 115, 115);

}


header, footer {
    background-color: royalblue;
    padding: 0.5em;
    color: white ;
    border-radius: 0.5em;
}

footer {
    text-align: center;
}

footer a {
    color: white;
}

.bottom {
    color: yellow;
    font-size: 0.75em;
}

/*computer viewport*/
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: none;
        width: 77.3em;
        margin: auto;
    }
    
	header, footer{
        max-width: none;
		width: 60em;
    }

    section image{
        max-width: 84%;
        padding: 0em 1.30em 0em 1.30em;
    }
    
}

/*tablet viewport*/
@media only screen and (min-width: 38em) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  
    header,
    footer {
      max-width: 45em;
    }
  
    section image {
      max-width: 84%;
      padding: 0em 1.30em 0em 1.30em;
    }
  
  }