body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gridarea {
    display: grid;
    grid-gap: 10px;
    max-width: 80%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .section-title {
  margin: 10px;
  text-align: center;
    }
  .grid-section {
    background-color: darkslategrey;
    color: white;
    border-radius: 15px;
    text-align: left;
    padding: 12px;
  }
  
  .grid-section:last-child {
      margin: 0;
  }
  
  .grid-image {
    height: auto;
    width: 100%;
    margin-top:15px;
  }
  
  header,
  main,
  footer {
    margin: 1rem 0 0 0;
  }
  header {
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: 1fr;
    padding: 7px;
    grid-area: header;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: white;
  }
  h1 {
    margin: 10px;
    font-size: 2rem;
    grid-column: span 3;
  }
  h2 {
      margin: 10px;
    font-size: 1.5rem;
    grid-column: span 3;
  }
  h3 {
   margin: 10px;
    font-size: 1rem;
    grid-column: span 3;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-area: main;
  }
  
  footer {
    background-color: darkslategrey;
    color: white;
    padding: 7px;
    font-size: 1rem;
    grid-area: footer;
    text-align: center;
    border-radius: 15px;
  }
    /* unvisited link */
  a:link {
      color: white;
    }
    
    /* visited link */
    a:visited {
      color: white;
    }
    
    /* mouse over link */
    a:hover {
      color: white;
    }
    
    /* selected link */
    a:active {
      color: white;
    }
  
  