@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
    margin: 0 auto;
    text-align: center;
    color: white;
}

header {
    color: steelblue;
}

main {
    background-color:whitesmoke;

    margin: 50px;
    box-shadow: 2px 2px 8px 8px grey;
    padding: 25px;
}

h1, h2 {
    font-family: 'Play';
}

section {
    background-color: steelblue;
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
}

p {
    color: black;
    line-height: 1em;
}

img {
    box-shadow: 2px 2px 8px black;
    max-width: 75%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
}

footer {
    padding: 20px;
    color: black;
    font-family: 'Oswald';
}

@media only screen and (min-width: 600px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 980px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}