/*phone viewport*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Varela+Round&display=swap');

/*phone view*/
header {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    padding: 2em;
}

header img{
    width: 25%;
    height: auto;
}

.header-p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

section{
    text-align: left;
    display: block;
    border-radius: 2.5px;
}
.headings{
    display: flex;
    flex-direction: column;
}

section img{
    max-width: 90%;
    padding-left: 1.30em;
}
section p{
    display: block;
    text-align: left;
    padding-left: 1.30em;
    padding-right: 1.30em;

}

nav {
    background-color: #00aeff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color:white;
    color: black;
}

nav button{
    font-size: 1.6rem;
    color:white;
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

body {
    align-content: center;
    margin: 0 auto;
    max-width: 940px;
    font-size: 14px;
}

#logo{
    width: 50%;
    height: auto;
    text-align: center;
}

#lgo{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Varela Round', cursive;
    text-align: center;
}

h3{
    color: white;
    background-color: #4169e1;
    font-size: 24px;
    height: 24px;
    border-top: 5px double;
    border-bottom: 5px double;
}

p{
    font-family: 'Roboto Condensed', cursive;
    font-size: 18px;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: white;
	color: #444444;
	font-style: italic;
}

header, footer {
    color: #ffffff;
    background-color: #4169e1;
    text-align: center;
}

footer, footer a {
    color: #ffffff;
    font-size: 18px;
}

footer {
    color: #ffffff;
    padding: 1.5em;
}

.bottom {
    color: #ffff00;
    font-size: 0.75em;
}


/*tablet viewport*/
@media only screen and (min-width: 38em) {
    main {
        grid-template-columns: 1fr 1fr;
     }
      
    header {
        max-width: 100%;
        font-size: 1.25rem;
        justify-content: center;
    }

    header img{
        width: 25%;
    }
      
    h1 {
        font-size: 50px;
    }
      
    nav {
        width:100%;
    }
      
    .navigation {
        display: flex;
      }
  
    .navigation li {
        display: block; 
        flex: 1 1 100%;
      }
  
    .navigation li:first-child{
        display: none;
      }
  
    nav ul li { 
        float:left;
        flex: 1 1 100%; 
        padding:0.30em;
      }

    body {
      font-size: 16px;
    }
}

  /*computer viewport*/
@media only screen and (min-width: 60em) {
    nav ul {
        display:flex;
    }

    nav ul li { 
        flex: 1 1 100%; 
        padding:0.50em;
    }

    header img{
        width: 25%;
    }
    body {
        font-size: 18px;
    }
}