/*computer viewport*/
@media only screen and (min-width: 60em) {
    /*banner*/
    /*body*/
    body{
        background-color: white;
    }

    /*Header*/
    header {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    header img {
        text-align: right;

    }

    header h1 {
        font-size: 36px;
    }

    /*navigation*/
    nav ul {
        display:flex;
    }

    nav li:hover{
        background-color: #4169e1;
        color: white;
    }
    
    nav ul li { 
		flex: 1 1 100%; 
	}
    
    /*main*/
    .townContainer {
        display: flex;
    }
    
    .townContainer article {
        justify-content: space-between;
        max-width: 30%;
        padding: 0;
        flex-direction: column;
    }
    
    .townContainer img {
        border: none;
        margin: 0px;
    }

    .townContainer article:nth-child(2) {
        flex-direction: column;
    }

    .townContainer h2 {
        font-size: 1.9em;
    }
    
    .townContainer h3 {
        font-size: 1.25em;
        font-style: italic;
    }
    
    .townContainer p {
        font-size: 1.2em;
    }

    .townContainer h2 {
        font-size: 1.9em;
    }
    
    .townContainer h3 {
        font-size: 1.35em;
        font-style: italic;
    }
    
    .townContainer p {
        font-size: 1.2em;
    }    .townContainer {
        display: flex;
    }
    
    .townContainer article {
        justify-content: space-between;
        max-width: 30%;
        padding: 0;
        flex-direction: column;
    }
    
    .townContainer img {
        border: none;
        margin: 0px;
    }

    .townContainer article:nth-child(2) {
        flex-direction: column;
    }

    .townContainer h2 {
        font-size: 1.9em;
    }
    
    .townContainer h3 {
        font-size: 1.25em;
        font-style: italic;
    }
    
    .townContainer p {
        font-size: 1.2em;
    }

    .townContainer h2 {
        font-size: 1.9em;
    }
    
    .townContainer h3 {
        font-size: 1.35em;
        font-style: italic;
    }
    
    .townContainer p {
        font-size: 1.2em;
    }

    /*Contact info*/
    .contactinfo{
        max-width: 100%;
    }

    .contactmethods img{
        max-width: 31px;
    }

    .map{
        display: flex;
        max-width: 25%;
        float: left;
        margin-right: 2em;
    }
    /*footer*/
}