/*tablet viewport*/
@media only screen and (min-width: 38em) {
    #banner{
      font-size: 1.50em;
      padding: 0.75em;
    }
    
    main {
      grid-template-columns: 1fr 1fr;
    }
    
    header {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    header img {
        text-align: right;

    }
    
    section image {
      max-width: 84%;
      padding: 0em 1.30em 0em 1.30em;
    }
    
    h1 {
      font-size: 50px;
    }
    
    nav {
      width:100%;
    }
    
    .navigation {
      display: flex;
    }

    .navigation li {
      display: block; 
      flex: 1 1 100%;
    }

    .navigation li:first-child{
      display: none;
    }

    nav ul li { 
      float:left;
      flex: 1 1 100%; 
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    main, footer {
      width:75%;
    }

    .active{
      background-color: #4169e1;
    }

    .hero {
      position: relative;
      margin-bottom: var(--space-xl);
      max-width: var(--width-lg);
  }
  
  .summary {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 var(--space-sm);
      background-color: rgba(0, 0, 0, .65);
      color: var(--color-white);
      border-radius: 0 0 .2rem 0;
      -webkit-border-radius: 0 0 .2rem 0;
      -moz-border-radius: 0 0 .2rem 0;
      -ms-border-radius: 0 0 .2rem 0;
      -o-border-radius: 0 0 .2rem 0;
  }
  
  .col-left {
      grid-column: span 7;
      text-align: right;
      padding-right: var(--space-xxxs);
  }
  
  .col-left p,
  .col-right p {
      line-height: .5;
  }
  
  .col-right {
      grid-column: span 5;
      padding-left: var(--space-xxxs);
      color: var(--color-accent);
      font-weight: var(--text-bold);
  }

    .forecast{
      display: block;
    }

    .week{
      display: flex;
      flex-direction: row;
      font-size: 1.5em;
      font-weight: 800;
    }

    .week div:last-child {
      border-right: 1px solid black;
    }

    .weekdays{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
		  flex: 0.5 1 100%;
    }

    .day{
      display: block;
      border-bottom: 1px solid black;
      background-color: #4169e1;
      color: white;
      padding: .5em;
      font-size: 1em;
      font-weight: 500;
    }

    .temperature{
      color: #4169e1;
      font-size: 1.50em;
      font-weight: 500;
    }

    article {
        padding: 2%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    article img {
        order: 2;
        width: 100%;
        height: 100%;
        margin: auto 0;
        object-fit: cover;
    }


    .contactinfo{
        width: 75%;
    }
    .map{
        display: flex;
        max-width: 45%;
        float: left;
        margin-right: 2em;
      }
}