form fieldset {
    background-color: fffff;
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
    padding: 1em; 
    margin-top: 5%;
    display: flex;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #black;
    font-size: 1rem;
    text-align: left;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0.75rem;
    color: #171219;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    font-size: 0.75rem;
    color: #171219;
    padding: 5px;
    text-align: left;
    font-size: 0.9em;
}
form input.submitBtn {
    border: none;
    background-color: #4c95ef;
    color: #fff;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin-top: 10px;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: #d245b8 6px;
}
form label.top input:required:valid {
    border-left: #4c95ef solid 6px;
}

@media only screen and (min-width: 560px) {
    
}

@media only screen and (min-width: 980px) {
    section{
        max-width: 80%;
        margin: auto;
    }
}