/*phone viewport*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;500&family=Roboto+Condensed:ital,wght@1,700&display=swap');
/*banner*/
.banner-1,
.banner-2{
    background:radial-gradient(white , #a4d8db );
    padding: 0.25em;
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: large; 
}

.banner-1 button,
.banner-2 button{
    line-height: 2em;
    width: 10em;
    background-color: #a4d8db;
    font-size: 1.2em;
}

/*body*/
body {
    background-color: #EEC680 ; 
    margin: 0;
    padding: 0;
    text-align: center;
}

/*
font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 200px;
    color: black;
    background-color: #a4d8db;
    padding: 3%;
}

header h1 {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    margin: 0.2em 0;
    font-size: 1.5em;
    color: black;
}

header h2 {
    margin: 0.2em 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
}

header img,
header a{
    height: 50%;
    width: auto;
    margin: auto;
    padding: 2%;
}

/*navigation*/
nav button{
    font-size: 1.6rem;

}

.navigation{
    list-style:none;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}

.navigation li:first-child{
    display: block;
    padding: 0.5em;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #93C0C3;
}
nav ul li{
    display: block;
	color: white;
    font-size: 1.25rem;
    padding: 0.5em;
}
nav a {
    color: black;
    text-decoration: none;
}
.active{
    background-color: white;
}

/*main*/
main {
    margin: 0 4vw 5vh 4vw;
}

main h2, {
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
}

main p,
main li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#hero {
    margin-bottom: 20%;
}

#hero-image {
    width: 100%;
    text-align: center;
}

#hero-image picture {
    width: 100%;
    text-align: center;
}

#hero-image picture img {
    width: 100%;
    max-width: 1200px;
    max-height: 400px;
    object-fit: cover;
}

#hero-content {
    background-color: white;
    position: absolute;
    margin: 5%;
    padding: 2% 3%;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 70%;
    border: 1px solid;
    border-radius: 10px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}

#hero-content h3 {
    margin: 0;
}

.forecast-table {
    display: none;
    grid-template-columns: 1fr 1fr;
}

.forecast-table table {
    margin: 2vh auto;
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 65%;
    border-spacing: 0;
}

.forecast-table img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    padding: 0 2em;
}

.table-headrow {
    background-color: #4169e1;
}

.forecast-table th,
.forecast-table td {
    padding: 1vh 0;
}

.forecast-table td {
    text-align: center;
}

.town-article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    padding: 5%;
}

.article-content {
    text-align: center;
}

.article-content h3 {
    margin-bottom: 0;
}

.article-content p {
    text-align: left !important;
}

.town-article img {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.town-article a{
    color: black !important;
  }

/*Index main*/
.Rental-info{
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
    padding: 1em; 
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2%;
}

.Rental-info h2{
    text-align: center;
}

.scooterDataJson {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .scooterDataJson box{
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
    margin-bottom: 5%;
  }
  
  .scooterDataJson h2{
    color: black;
    font-size: 2em;
  }

  .scooterDataJson h3{
    color: black;
    font-size: 1em;
  }
  .scooterDataJson p{
    color: black;
  }
  
  .scooterDataJson h2 {
    font-size: 40px;
    border-bottom: 1px solid black;
    color: black;
  }
  
  .scooterDataJson p {
    margin: 0em 0em;
    text-align: left;
  }
  
  .scooterDataJson div {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
  }
  
  .scooterDataJson img {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
  }

/*Contact info*/
.contactinfo{
    color: black;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: left;
    align-content: center;
}

.contactinfo{
    display: block;
}

.Contact-info{
    box-shadow: 0 0 1em;
    border: 5px white;
    border-style: solid;
    color: black;   
    margin-top: 2%;
    margin-bottom: 2%;
}

.Contact-info-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.contactmethods{
    max-width: 60%;
    text-align: left;
    padding: 3%;
}
.contactmethods p{
    margin: 1em 0;
}

.contactmethods img{
    max-width: 31px;
}

/*footer*/
footer {
    background-color: #a4d8db;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

main a,
footer a {
    color: black !important;
}