/*tablet viewport*/
@media only screen and (min-width: 38em) {
    #banner{
      font-size: 1.50em;
      padding: 0.75em;
    }
    
    main {
      grid-template-columns: 1fr 1fr;
    }
    
    header {
      max-width: 100%;
    }
  
    header{
      font-size: 1.25rem;
    }

    header img{
      width: 90%;
    }
    
    section image {
      max-width: 84%;
      padding: 0em 1.30em 0em 1.30em;
    }
    
    h1 {
      font-size: 50px;
    }
    
    nav {
      width:100%;
    }
    
    .navigation {
      display: flex;
    }

    .navigation li {
      display: block; 
      flex: 1 1 100%;
    }

    .navigation li:first-child{
      display: none;
    }

    nav ul li { 
      float:left;
      flex: 1 1 100%; 
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    main, footer{
      width:75%;
    }

    .active{
      background-color: #4169e1;
    }

    .hero img{
      max-width:75%;
    }
    .weathersummary{
      top: 30px;
      left: 150px;

    }

    .forecast{
      display: block;
    }

    .week{
      display: flex;
      flex-direction: row;
      font-size: 1.5em;
      font-weight: 800;
    }

    .week div:last-child {
      border-right: 1px solid black;
    }

    .weekdays{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
		  flex: 0.5 1 100%;
    }

    .day{
      display: block;
      border-bottom: 1px solid black;
      background-color: #4169e1;
      color: white;
      padding: .5em;
      font-size: 1em;
      font-weight: 500;
    }

    .temperature{
      color: #4169e1;
      font-size: 1.50em;
      font-weight: 500;
    }

    article img{
      float: right;
      max-width: 20%;
      margin: 1.5em;
    }

    .map{
      display: flex;
      max-width: 25%;
      float: left;
      margin-right: 2em;
    }

}