/*phone viewport*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Varela+Round&display=swap');


body {
    background-color: white ; 
    margin: 0;
    padding: 0;
    text-align: center;
}

/*phone view*/
#banner{
    color: white;
    background:radial-gradient(white , #00aeff , #4169e1);
    text-align: center;
    font-size: 1em;
	margin: 0;
    padding: 0.25em;
}

main {
    margin: auto;
    display: block;
    grid-template-columns: 1fr;
    font-size: 1rem;
    grid-gap: 0.8em;
    padding: 0.8em;
}

header {
    color: white;
    background-color: #4169e1;
    display: grid;
    grid-template-columns: 80px 1fr;
    text-align: left;
    padding: 20px;
}

header img {
    text-align: right;
    height: 150px;
    width: 150px;
}

header h1 {
    margin: 0.2em 0;
}

header img {
    max-height: 100%;
    margin-right: 1vw;
    margin-left: auto;
}

h1, h2, h3{
    font-family: 'Varela Round', cursive;
}

p{
    font-family: 'Roboto Condensed', cursive;
}


h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "El Messiri", "Papyrus", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

#h1p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

section{
    text-align: left;
    display: block;
    border-radius: 2.5px;
}
.headings{
    display: flex;
    flex-direction: column;
}

section img{
    max-width: 90%;
    padding-left: 1.30em;
}
section p{
    display: block;
    text-align: left;
    padding-left: 1.30em;
    padding-right: 1.30em;

}

h3 {
    text-align: center;
    margin-top:0px;
    padding:0.70em;
    padding-left: 1.30em;
}

h4 {
    padding-left: 1.30em;
}

h2 {
    color:white ;
    padding: 2px;
    margin: 0 auto;
    text-align: center;
}

#hero {
    margin-bottom: 20%;
}

/* undo for desktop */

#hero-image {
    height: 100%;
    min-height: 130px;
    width: 100%;
}

#hero-content {
    background-color: #485696cc;
    position: absolute;
    margin: 5%;
    padding: 2% 3%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hero-content h3 {
    margin: 0;
}


#copyright {
    color: white;
}

#modified {
    color: white;
    font-size: 15px;
}

header,
nav,
main,
footer {
    align-content: center;
}

li {
    font-family: "El Messiri", "Papyrus", sans-serif;
}

nav button{
    font-size: 1.6rem;
    color:white;
}

.navigation{
    list-style:none;
    padding:0;
}

.navigation li:first-child{
    display: block;
    padding: 0.5em;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00aeff;
}
nav ul li{
    display: block;
	color: white;
    font-size: 1.25rem;
    padding: 0.5em;
}

footer {
    background-color: #4169e1;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

main.div {
    column-count: 3;
}

nav a {
    color: white;
    text-decoration: none;
}

article h3{
    color: white;
    text-align: left;
}

article h4 {
    color: white;
	font-style: italic;
}

article p{
    color: white;
    font-size: 1.5rem;
}

article img {
    width: 100%;
    box-shadow: 0 0 2em black;
}
    
article {
    display: block;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    background-color: #4169e1;
}

.forecast{
    display: none;
}

.map {
    display: none;
}

.contactinfo{
    background-color: #00aeff;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: left;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    align-content: center;
    padding: 1em;
}

.contactmethods{
    max-width: 60%;
}

.contactmethods img{
    max-width: 31px;
}
footer a:hover {
    background-color: #4169e1;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}